#wrap {width: 100%; }
#header {width: 100%; height: 500px;  background: url(../img/main_banner_20190131_c.jpg) repeat-x  center top; }
#content {width: 100%; height: 400px; background-color: #888; }
#footer {width: 100%; height: 200px; background-color: #777; }

/* container */
.container {width: 990px; background-color: rgba(255,255,255,0.5); margin: 0 auto; position: relative;}


/* contents layout */
#cont-nav {width: 100%; height: 100px; background-color: #666; }
#cont-tit {width: 100%; height: 100px; background-color: #555; }
#cont-ban {width: 100%; height: 100px; background-color: #444; }
#cont-cont {width: 100%; height: 100px; background-color: #333; }

/* quick */
.quick {text-align:right; }
.quick a {color: #fff; padding: 5px 0 0 10px; display: inline-block;}
.quick a:hover {color: #ccc;}

/* title */
.title {text-align: center;}
.title p {background-color: #2698cb; font-size: 28px; display: inline-block; color: #fff; margin-top: 20px; padding: 5px 15px; text-transform: uppercase;}
.title h1 a {background-color: #4aa8d4; font-size: 18px; display: inline-block; color: #fff; padding: 5px 15px; text-transform: capitalize;} 


/* icon */
.icon {position: absolute; left: 2px; top: 150px; }
.icon ul {overflow: hidden;}
.icon li {float: left}
.icon li a {width:160px; height:160px;  display: block; margin:2px 2px; background-image: url(../img/01.jpg);}
.icon li.icon-tit1 a {background-position: -70px -50px;}
.icon li.icon-tit2 a {background-position: -250px -50px;}
.icon li.icon-tit3 a {background-position: -410px -50px;}
.icon li.icon-tit4 a {background-position: -590px -50px;}
.icon li.icon-tit5 a {background-position: -770px -50px;}
.icon li.icon-tit6 a {background-position: -950px -50px;}
.icon li.icon-tit1 a:hover {background-position: -70px -210px;}
.icon li.icon-tit2 a:hover {background-position: -250px -210px;}
.icon li.icon-tit3 a:hover {background-position: -410px -210px;}
.icon li.icon-tit4 a:hover {background-position: -590px -210px;}
.icon li.icon-tit5 a:hover {background-position: -770px -210px;}
.icon li.icon-tit6 a:hover {background-position: -950px -210px;}
.icon li.icon-tit7 a {background-position: -70px -370px;}
.icon li.icon-tit8 a {background-position: -250px -370px;}
.icon li.icon-tit9 a {background-position: -410px -370px;}
.icon li.icon-tit10 a {background-position: -590px -370px;}
.icon li.icon-tit11 a {background-position: -770px -370px;}
.icon li.icon-tit12 a {background-position: -950px -370px;}
.icon li.icon-tit7 a:hover {background-position: -70px -530px;}
.icon li.icon-tit8 a:hover {background-position: -250px -530px;}
.icon li.icon-tit9 a:hover {background-position: -410px -530px;}
.icon li.icon-tit10 a:hover {background-position: -590px -530px;}
.icon li.icon-tit11 a:hover {background-position: -770px -530px;}
.icon li.icon-tit12 a:hover {background-position: -950px -530px;}